.popup {
  opacity: 0;
  font-family: "Inter", "Arial", "sans-serif";
  position: fixed;
  z-index: 20;
  color: #FFFFFF;
  background: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  justify-items: center;
  visibility: hidden;
}