.popup__submit-button {
  min-width: 358px;
  min-height: 50px;
  background: #000000;
  border-radius: 2px;
  margin: auto;
  margin-bottom: 37px;
  padding: 0;
  transition: opacity 100ms ease-in-out;
  border: none;
}

.popup__submit-button:hover{
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (max-width: 631px) {
	.popup__submit-button {
	  min-width: 238px;
	  min-height: 46px;
	  margin-bottom: 25px;
	}
}