.popup__input_job_active {
	width: 358px;
	height: 14px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	color: #000000;
	margin: auto;
	border: none;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	padding-bottom: 13px;
	padding-left: 0;
   padding-right: 0;
	margin-bottom: 48px;
}

@media screen and (max-width: 631px) {
	.popup__input_job_active{
		width: 238px;
		height: 14px;
		font-family: 'Inter';
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 17px;
    	margin-bottom: 45px;
	}
}