.header {
  width: 100%;
  min-height: 74px;
  padding-top: 45px;
  border-bottom: 1px solid #545454;
}

@media screen and (max-width: 631px) {
	.header {
	  max-width: 320px;
	  min-height: 56px;
	  padding-top: 28px;
	}
}