.button_type_edit {
  margin-left: 18px;
  width: 24px;
  height: 24px;
  border: 1px solid #fff;
  cursor: pointer;
  background: url(../../../../images/Edit\ Button\ \(1\).svg) center no-repeat;
  background-color: transparent;
}

.button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
	.button_type_edit {
	  width: 18px;
	  height: 18px;
   }
}

@media screen and (max-width: 631px) {
	.button_type_edit {
     margin-left: 10px;
   }
}