.profile__text {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	color: #FFFFFF;
	height: 18px;
	margin-top: 0;
	margin-bottom: 25px;
}

@media screen and (max-width: 767px) {
	.profile__text {
		font-weight: 400;
		font-size: 14px;
		line-height: 17px;
	}
}

@media screen and (max-width: 631px) {
	.profile__text {
		margin-bottom: 36px;
   }
}