.profile__name {
  max-height: 39px;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  color: #FFFFFF;
  margin: 0;
  padding-top: 22px;
  padding-bottom: 16px;
  max-width: 287.8px;
  text-overflow: ellipsis;
  overflow: hidden;
}

@media screen and (max-width: 767px) {
	.profile__name {
	  max-width: 254px;
	  font-size: 27px;
	  line-height: 33px;
   }
}

@media screen and (max-width: 631px) {
	.profile__name {
	  max-height: 26px;
	  padding-top: 28px;
	  padding-bottom: 14px;
	  padding-left: 27px;
   }
}