.popup__text-button {
	width: 109px;
	height: 18px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	text-align: center;
	color: #FFFFFF;
}

@media screen and (max-width: 631px) {
	.popup__text-button {
		width: 74px;
		height: 18px;
		font-family: 'Inter';
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 17px;
	}
}