.popup__text-button {
  max-width: 109px;
  max-height: 18px;
  font-family: 'Inter','Helvetica', 'sans-serif';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
}

@media screen and (max-width: 631px) {
	.popup__text-button {
	  max-width: 74px;
	  min-height: 18px;
	  font-size: 14px;
	  line-height: 17px;
	}
}